* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ff7575;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container .principale {
    display: flex;
    flex-direction: column;
}
.container .principale .image {
    background-color: aliceblue;
    border-radius: 20px;

}
.container .principale .second {
    display: flex;
    justify-content: left;
    align-items: center;
}

.principale .secondaire img {
    max-width: 100px;
    padding-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.632);
}